<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    
    <div>
        <h1> Class Schedule Optimizer </h1>
    </div>

    <section>
        <div>
            <h2> FSUU </h2>
            <h3> Father Saturnino Urios University</h3>
        </div>
    
        <div>
            <p> <i> " Place Holders "</i> </p>
            <button type="button"> PRINT </button>
            <button type="button"> EXPORT </button>
            <button type="button"> PROFILE </button>
        </div>
    </section>
    
    
    <p> <b> ------- Dashboard Starts Here ------- </b> </p>

    <div>
        <h3> [SECTION DIVIDER] </h3>
    </div>

    <section>

        <div>
            <p><i>Button Place Holders </i></p>
        </div>

        <div>
            <h2> [OUTPUT VIEW HERE] </h2>
        </div>

    </section>
</body>
</html>